/* Start landpage */
:root{
    --violet:#6c5ce7;
    --pink:#FC427B;
    --gradient:linear-gradient(90deg, var(--violet), var(--pink));
  }
section.home{
    padding:2rem 7%;
  }
.home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .home .content{
    flex:1 1 40rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  .home .image img{
    width:90%;
  }
  
  .home .content h3.home{
    color:transparent;
    background:var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
  }
  
  .home .content p.home{
    padding:.6rem 0;
    font-size: 1.7rem;
    color:#666;
  }
  .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: .5rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .btn:hover{
    background:var(--gradient);
  }
/* end landpage */
/* Start why page */
.homePage .page-description{
    padding-top: 54px;
    padding-bottom: 96px;
    background: #fefaf1;
}
.homePage .section-title{
    font-size: 30px;
    font-weight: 900;
    color: #25222d;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
}
.homePage .page-description .description-wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 1000px;
    margin: 56px auto 0;
}
.homePage .page-description .description-wrap .description-item{
    width: 240px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: box-shadow .3s ease;
    border-radius: 12px;
}
.homePage .page-description .description-wrap .description-item:hover{
    box-shadow: 0px 2px 22px 0px rgb(100 145 226 / 15%);

}
.homePage .page-description .description-wrap .description-item-image{
    margin: 0 auto;
    display: block;
    width: 110px;
    height: 110px;
}
.homePage .page-description .description-wrap .description-item-image{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #2b2835;
    line-height: 22px;
}
.homePage .page-description .description-wrap .description-item-text{
    margin-top: 10px;
    font-size: 14px;
    color: #2b2835;
    line-height: 17px;
}

section.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 0.5rem 6%;
}

.about-section{
  background:url(https://img.freepik.com/free-photo/overhead-view-laptop-with-stationeries-study-text-white-background_23-2147875675.jpg?size=626&ext=jpg)
  no-repeat left;
  background-size: 55%;
  overflow: hidden;
}
.inner-container{
  width: 55%;
  float: right;
  padding: 150px;
  background-color: white;
}
.inner-container h1.aboutH1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  
}
.text{
  font-size: 14px;
  color: #2b2835;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

/* Responsive */
@media (max-width: 991px){
    .homePage .page-description .description-wrap{
        display: inline;
    }
    .homePage .page-description .description-wrap .description-item{
        width: 100%;
    }
    .homePage .page-description .description-wrap .description-item-text{
        font-size: 50%;
    }
    .homePage .page-description .description-wrap .description-item-text{
      margin-top: 10px;
      font-size: 16px;
      color: #2b2835;
      line-height: 17px;
  }
}

@media screen and (max-width: 1200px){
.inner-container {
    padding: 80px;
}
}