.unitDetailP .sidebarAreaLesson {
    float: right;
    width: 300px;
}

.unitDetailP .sidebarAreaLesson .unitDetailItemArea {
    position: relative;
    background-color: #f4f5f7;
    border-radius: 10px;
    min-height: 178px;
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    margin-top: 0;
}
.unitDetailP .sidebarAreaLesson .tipsText {
    line-height: 33px;
    font-size: 18px;
    text-align: center;
    color: #4a4a4a;
    font-weight: bold;
}
.unitDetailP .sidebarAreaLesson .unitDetailItemArea .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.unitDetailP .sidebarAreaLesson .unitDetailItemArea .wrap .vocabulary {
    width: 68px;
    height: 68px;
    padding: 7px;
}
.unitDetailP .sidebarAreaLesson .unitDetailItemArea .wrap .vocabulary:hover {
    border-radius: 10px;
    width: 68px;
    height: auto;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 20px 10px #eee;
}
.unitDetailP .switchContent {
    margin-right: 327px;
    min-height: 714px;
    border-radius: 10px;
    position: relative;
    max-width: 673px;
    background-color: #f4f5f7;
}
.unitDetailP .switchContent .compContent>div {
    margin-bottom: 80px;
}
.unitContent {
    background-color: #f4f5f7;
    border-radius: 10px;
}
.unitContent .unitName {
    font-size: 25px;
    color: #4a4a4a;
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #ececec;
}
.unitContent .unitName .greyArrow {
    left: 30px;
    width: 13px;
    height: auto;
    position: absolute;
    cursor: pointer;
    top: 21px;
    opacity: .7;
    padding-right: 20px;
}
.unitContent .wrapContent {
    padding: 0px 20px;
    padding-bottom: 30px;
    min-height: 600px;
}
.unitContent .wrapContent .unitPicArea {
    text-align: center;
    min-height: 255px;
    padding-top: 30px;
    position: relative;
}
.unitContent .wrapContent .unitPicArea .imageLesson {
    width: 551px;
    height: 235px;
}
.unitContent .wrapContent .lessons {
    margin: auto;
    padding-bottom: 1.6rem;
    position: relative;
    top: -1.5rem;
    min-height: 360px;
}
.unitContent .wrapContent .lessons .lesson {
    border-bottom: 1px solid #dae0ef;
    margin: auto;
    position: relative;
}
.unitContent .wrapContent .lessons .lesson .wrapInner {
    padding: 58px 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .iconArea {
    width: 60px;
    height: 60px;
    position: relative;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .iconArea .flagIcon {
    width: 100%;
    height: 100%;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .iconArea .lessonSortIndex {
    color: #fff;
    font-size: 17px;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}
.unitContent .wrapContent .lessons .lesson .wrapInner .subDescArea {
    font-size: 14px;
    color: #757575;
    text-align: center;
    width: 195px;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .buttonArea .btnLesson.start {
    background: #6a82fb;
    cursor: pointer;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .buttonArea .btnLesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    padding: 14px 22px;
    padding-left: 12px;
}
.ripple {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .buttonArea .btnLesson>div {
    position: relative;
    padding: 0 16px;
    min-width: 74px;
    text-align: center;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .buttonArea .btnLesson>img {
    position: relative;
}
.unitContent .wrapContent .lessons .lesson .wrapInner .buttonArea img {
    width: 26px;
    height: 26px;
    position: relative;
}
.unitDetailP .switchContent .switchHead {
    background: #f4f5f7;
    color: #4a4a4a;
    font-size: 2.4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 65px;
    line-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}
.unitDetailP .switchContent .switchHead .wrapTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    margin-left: 20px;
}
.unitDetailP .switchContent .switchHead .wrapTitle .greyArrow {
    width: 12px;
    cursor: pointer;
}
.unitDetailP .switchContent .switchHead .wrapTitle .tipsText {
    margin-left: 12px;
    font-size: 22px;
}
.vacabulary {
    background-color: #f4f5f7;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 35px 0px;
    padding-top: 15px;
    padding-bottom: 50px;
    min-height: 500px;
}
.vacabulary .vocabContent .vocList {
    min-height: 400px;
}
.vacabulary .vocabContent .vocList .voc {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgb(178 178 178 / 50%);
    border-radius: 8px;
    margin-top: 21px;
}
.vacabulary .vocabContent .vocList .voc .vietnamese {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    width: 55%;
    padding-left: 35px;
}
.vacabulary .vocabContent .vocList .voc .english {
    font-size: 24px;
    color: #999;
}