.loginForm {
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}
form.login {
    width: 100%;
    margin: 0 auto;
    line-height: normal !important;
}

form.login input.loginform {
    width: 100%;

}

input.loginform,
button.submitLogin {
    display: block;
    padding: 0.8rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    border: 1px solid lightgrey;
}

/* .error-container {
    border: 1px dashed lightgray;
    padding: 1rem;
    width: 100%;
} */
ul {
    list-style-position: inside;
    color: lightcoral;
}
button.submitLogin {
    text-transform: uppercase;
    background-color: #7577fa;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    }
button.submitLogin:hover{
    background: #0674ec;
}
button.submitLogin{
    margin: none !important;
}
h1.signIn{
    font-size: 32px !important;
    margin-bottom: none !important;
    font-weight: 1000 !important;
}
@media screen and (max-width: 960px) {
    .loginForm {
        width: 90%;
    }
}




