/* .footer{
    background: #262b30;
    text-align: center;
    padding: 32px 0;
}
.footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
:root{
    --violet:#6c5ce7;
    --pink:#FC427B;
  }
  
section.footer{
    padding:2rem 7%;
    background-color: #192027;
  }
.footer .boxFooter-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .boxFooter-container .boxFooter{
    flex:1 1 20rem;
  }
  
  .footer .boxFooter-container .boxFooter h3{
    font-size: 25px;
    color:var(--violet);
    padding:.7rem 0;
  }
  
  .footer .boxFooter-container .boxFooter p{
    color:white;
    padding:.7rem 0;
  }
  
  .footer .boxFooter-container .boxFooter a.linka{
    display: block;
    color:white;
    padding:.7rem 0;
  }
  a.linka{
    text-decoration: none;
  }
  .footer .boxFooter-container .boxFooter a:hover{
    color:var(--violet);
  }
  
  .footer .boxFooter-container .boxFooter p i{
    padding-right: .5rem;
    color: white;
  }
  
  .credit{
    margin-top: 1rem;
    padding:1rem;
    padding-top: 2rem;
    text-align: center;
    border-top: solid rgba(0,0,0,.1);
    color:white;
    background-color: #262b30;
  }
  