.SignupForm {
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;

}
form {
    width: 100%;
    margin: 0 auto;
}

label,
input {
    display: block;
    width: 100%;
}

input,
button {
    display: block;
    padding: 0.8rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    border: 1px solid lightgrey;
}

.error-container {
    border: 1px dashed lightgray;
    padding: 1rem;
    width: 100%;
}
ul {
    list-style-position: inside;
    color: lightcoral;
}
button {
    text-transform: uppercase;
    background-color: #7577fa;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    }
@media screen and (max-width: 960px) {
        .SignupForm {
            width: 90%;
        }
}





